#btn1 
{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
} /* Blue */

body {
    background-color: bisque;
}
